version: "3.7"

services:
  web:
    container_name: web
    image: dict-web
    ports:
      - 5000:5000
  api:
    container_name: api
    image: dict-api
    ports:
      - 8080:8080
    volumes:
      - ./logs:/app/logs
  ng:
    container_name: ng
    image: nginx
    ports:
      - 80:88
      - 443:443
    depends_on:
      - web
      - api
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - /etc/ssl/2lit.cc:/etc/ssl/2lit.cc
      - /home/ubuntu/data:/data
      - /www/data:/www/data
        #- ./access.log:/logs/access.log

